name: Simple Build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload build result
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
     - name: Download build
       uses: actions/download-artifact@v4
       with:
         name: dist
         path: ./dist
     - name: Transfer build files to server
       uses: appleboy/scp-action@v1.0.0
       with:
         host: 87.239.109.190
         username: ubuntu
         key: ${{ secrets.PRIVATE_KEY }}
         source: "dist/*"
         target: "/home/ubuntu/dist"
         strip_components: 1
